@page
@model Pasca_Denisa_Lab_2.Pages.Borrowings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrowing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Borrowing?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
